* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    color: white;
}


header{
    position: sticky;
    top: 0;
    z-index: 1071;
    min-height: 4rem;
}
footer{
    min-height: 4rem;
}

a:hover{
    color: #aaa;
}

h2{
    font-size: 3vw;
}
.ultra-lg{
    font-size: 10vw;
}
.text-2vw{
    font-size: 2vw;
}
.up_down{
    animation: 1s ease-in-out 1s infinite alternate up-down;
}

.white{color: white;}

.bg-avocado       {background-color: #258039;}
.bg-yellow-pepper {background-color: #f5be41;}
.bg-aqua-blue     {background-color: #31a9b8;}
.bg-tomato        {background-color: #cf3721;}

.bg-light-gray {background-color: rgb(75,88,114);}
.bg-heavy-gray  {background-color: rgb(37,46,58	);}

@keyframes up-down {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-50px)
    }
}

@media screen and (min-width:766px) {
    .product-info-section{
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
    }
    .user-info-section{
        position: sticky;
        top: 4rem;
        z-index: 1000;

    }
}

@media screen and (min-width:766px){
    
}