* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    color: white;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    height: 5rem;
}
footer{
    height: 5rem;
    z-index: 2;
}

a:hover{
    color: #aaa;
}

h2{
    font-size: 3vw;
}
.ultra-lg{
    font-size: 10vw;
}
.text-2vw{
    font-size: 2vw;
}
.up_down{
    animation: 1s ease-in-out 1s infinite alternate up-down;
}

.white{color: white;}

.bg-light-gray {background-color: rgb(75,88,114);}
.bg-heavy-gray  {background-color: rgb(37,46,58	);}

@keyframes up-down {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-50px)
    }
}

@media screen and (min-width:766px) {

    .product-info-section, .user-info-section{
        position: sticky;
        top: 5rem;
        z-index: 1;
    }
}
